---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Software Engineer"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('December 05 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p class="mt-4 text-lg leading-relaxed text-gray-700">
		👋 Hello there! I'm Luis Sandoval, a passionate software developer hailing from Cartago, Costa Rica. My journey in the world of coding has been an exciting one, driven by a relentless curiosity to learn and evolve every day. I proudly identify as a self-taught individual and a lifelong learner, which is precisely what drew me to this dynamic career. In a realm where technology evolves by the minute and every second counts, I find myself invigorated by the perpetual learning process.
	</p>
	<h2 class="text-2xl font-bold mt-6">Experience</h2>
	<ul class="list-disc list-inside ml-4 mt-2 space-y-1">
	  <li>Gestión en Tecnología e Información GTI - San José, Costa Rica
		<ul class="list-disc list-inside ml-4 mt-2 space-y-1">
		  <li>Senior Software Developer (May. 2022 - Present)</li>
		  <li>Mid Software Developer (Feb. 2021 - May. 2022)</li>
		  <li>Junior Software Developer (Dic. 2018 - Feb. 2021)</li>
		  <li>Software Developer Internship (Sept. 2018 - Dic. 2018)</li>
		</ul>
	  </li>
	  <li>Fiserv - Cartago, Costa Rica
		<ul class="list-disc list-inside ml-4 mt-2 space-y-1">
		  <li>Software Development Engineer (Nov. 2020 - Feb 2021)</li>
		</ul>
	  </li>
	</ul>
	<h2 class="text-2xl font-bold mt-6">Skills</h2>
	<ul class="list-disc list-inside ml-4 mt-2 space-y-1">
	  <li>C#, .NET Core, .NET Framework, Blazor, .NET Mvc </li>
	  <li>React js</li>
	  <li>Xamarin Forms / MAUI</li>
	  <li>SQL Server</li>
	  <li>Cloud with Azure (App Services, Functions, SignalR, etc)</li>
	  <li>Apis</li>
	  <li>GitHub, GIT, TFS, Bitbucket</li>
	  <li>Devops, CI/CD</li>
	</ul>
	<h2 class="text-2xl font-bold mt-6">Certifications</h2>
	<ul class="list-disc list-inside ml-4 mt-2 space-y-1">
	  <li class="li-p">Microsoft: Azure Developer Associate <a href='https://learn.microsoft.com/api/credentials/share/en-us/LUISSANDOVAL-5751/88BA7F0EF27D4087?sharingId=4112CC77E15438D0' class="text-blue-500 underline">(Check it here!)</a></li>
	  <li class="li-p">Microsoft: Azure AI Fundamentals <a href='https://www.credly.com/badges/ab6af0d2-9756-425c-b6fc-2589d9a0240f' class="text-blue-500 underline">(Check it here!)</a></li>
	  <li class="li-p">Microsoft: Azure Fundamentals <a href='https://learn.microsoft.com/api/credentials/share/en-us/LUISSANDOVAL-5751/6E18A2881646833A?sharingId=4112CC77E15438D0' class="text-blue-500 underline">(Check it here!)</a></li>
	</ul>
</Layout>
